@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-secondary {
    @apply text-white px-[30px] py-[8px] rounded-xl bg-secondary cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-danger {
    @apply text-white px-[30px] py-[8px] rounded-xl bg-danger cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-success {
    @apply text-white px-[30px] py-[8px] rounded-xl bg-success cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-warning {
    @apply text-white px-[30px] py-[8px] rounded-xl bg-warning cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.slick-dots {
    @apply !flex justify-start w-full;
}

.slick-dots .slick-active div {
    @apply bg-primary scale-150;
}

.slick-dots div {
    @apply m-0 mt-5 sm:mt-10;
}